<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src='./src/Thermostat.js'></script>
    <script src='./src/index.js'></script>
  </head>

  <body>
    <div id='displayTemperature'></div>
    <div id='displayEnergyUsage'></div>
    <div id='weather'></div>

    <button type='button' id='reset'>Reset</button>
    <button type='button' id='tempUp'>Up</button>
    <button type='button' id='tempDown'>Down</button>
    <button type='button' id='PSM'>PSM</button>

    <div id='city'>
        <input id='inputcity' placeholder='City'></input>
        <button id='submitcity'>Submit</button> 
    </div>
  </body>
</html>
